<div class="card__block card__block--list">
  {% for item in items %}
    {% if item.content['#url'] == false %}
      <span class="list-item unavailable">
    {% else %}
      <span class="list-item">
    {% endif %}
        <span class="list-item__text">
          {% if item.content['#url'] %}
            <a href="{{ item.content['#url'] }}">
          {% endif %}
          {{ item.content['#title'] }}
          {% if item.content['#url'] %}
            </a>
          {% endif %}
        </span>
      </span>
  {% endfor %}
</div>
